.mainContent{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color:var(--mainContent);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    

    
    }


.Project-Title{
   width: 80%;
   background-color: var(--accentDark);
   border-radius: 5px;
   height: 70px;
   align-self: center;
   margin-right: 240px;
   text-align: center;
   display: flex;
   align-items: center;
   padding-left: 60px;
   color: white;
    
    }


    .addTaskButton{
       padding: 8px 14px;
       margin-right: auto;
       margin-top: 20px;
       border-radius: 5px;
       font-size: 13px;
       border-color: var(--sidebar);
       box-shadow: 2px 2px 2px var(--accentDark);
    }

    .task-form {
      width: 80%;
      height: 0px;
      scale: 0;
      align-self: center;
      margin-right: 240px;
      margin-top: 20px;
      border-radius: 5px;
      background-color: var(--sidebar);
      padding: 20px 0px;
      color: var(--textColor);
      font-family: 'Alata', sans-serif;
       
    }

    .input-Para{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2px;
        gap: 2px 0px;
       
        
    }

    label{
        width: 95%;
        font-size: 16px;
    
    }
    #name-input{
        width: 95%;
        height: 30px;
        outline: 2px solid black;
        padding: 2px;
        border: none;
        border-radius: 2px;
        
       
    }

    #details-input{
        width: 95%;
        height: 50px;
        outline: 2px solid black;
        padding: 2px;
        border: none;
        border-radius: 2px;
    }

    #date-input{
        width: 95%;
        height: 30px;
        outline: 2px solid black;
        padding: 2px;
        border: none;
        border-radius: 2px;
    }


     .task-add-btn{
        padding: 3px 6px;
        width: 70px;
        color: white;
        background-color: var(--accentDark);
        border-radius: 3px;
        border: none;
    
    
     }

     .detailPara{
         
      font-size: 11px;
   }

   .namePara{
      font-size: 15px;
   }

     .task-cancle-btn{
        padding: 3px 6px;
        width: 70px;
        color: white;
        background-color: red;
        border-radius: 3px;
        border: none;
       
     }

     .button-para{
        display: flex;
        justify-content: center;
        gap: 0px 14px;
        margin-top: 10px;
     }
     .task-main-div{
      width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
      
     }

     .task-list{
      width: 100%;
      border: 1px solid var(--textColor);
      border-radius: 5px;
      height: 45px;
      display: flex;
      justify-content: center;
      position: relative;
     }
     .task-list-item{
      
        width:95%;
        border: 1px solid var(--textColor);
        border-radius: 5px;
        height: 45px;
        display: flex;
        justify-content: center;
        position: relative;

     }

     .threeDot{
      width: 20px;
      height: 20px;
      margin-top: 3px;
      background-image: url('../image/threeDot.png');
      background-size: 20px;

     }

     .task-list-item div:nth-child(2){
      position: absolute;
      left:60px;
      
     }

     .status{
     margin-right: auto;
     width: 16px;
     height: 16px;
     margin-top: 10px;
     border: 2px solid var(--textColor);
     border-radius: 50%;
     background-image: url('../image/tick.png');
     background-size: 15px;
     background-repeat: no-repeat;
     
     }

     

     

     .task-list-item:hover{
      width: 100%;
      border: 1px solid var(--textColor);
      border-radius: 5px;
      height: 45px;
      display: flex;
      justify-content: center;
      position: relative;
      background-color: var(--sidebar);

     }



     .dateBox{
        width:90px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid var(--textColor);
        font-size: 12px;
     }
     
     .namePara{
      font-family:monoBold;
     }
